/* @media BOOTSTRAP

<576px  Extra small
≥576px  Small
≥768px  Medium
≥992px  Large
≥1200px Extra large

============================================= */


/* MAX-WIDTH: 1200PX
============================================= */
@media (max-width: 1200px) {

  .header-logo{
    width: 30px;
  }

  .header-item {
    font-size: 0.9em;
  }

  .header-item-icon{
    width: 20px;
    height: 20px;
    margin-right:10px;
  }

  .header-burger {
    width: 30px;
    height: 30px;
  }

  .header-burger:before, .header-burger:after {
    width: 25px;
  }

  .header-burger:before {
    height: 1px;
    margin-bottom: 3px;
  }

  .header-burger:after {
    height: 2px;
    margin-top: 3px;
  }

  .main-bg{
    img{ 
        max-height: 900px;
        max-width: 1200px;
    }
  }

  h1{
    font-size: 1.5em;
  }

  .subtitle{
    font-size: 0.9em;
  }

}

/* MIN-WIDTH: 1200PX
============================================= */
@media (min-width:1200px){
  .main-bg{
    img{ 
        max-height: 1300px;
        max-width: 1500px;
    }
  }
}

/* MAX-WIDTH: 992PX
============================================= */
@media (max-width: 992px) {

  .header-item-logo{
    margin-right: 80px;
  }
}

/* MAX-WIDTH: 768PX 
============================================= */
@media (max-width: 768px){
  .header-item {
    display: none !important;
  }
}