/* HTML 
============================================= */
html{
  font-family: $font-family-sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
 
/* BODY 
============================================= */
body{
  min-width: 375px;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.77778;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111029;
  background-color: transparent;
}

/* MAIN PAGE 
============================================= */
main{
    margin-top: 170px;
}

.main-bg{
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 0;
  img{ 
    width: 100%
  }
}

/* TITLE 
============================================= */

h1{
  font-size: 3em;
  font-weight: 600;
}

.subtitle{
  position:relative;
  line-height:1.4px;
  font-weight: 600;
  color: #2b90d9;
  padding-left: 40px;
}

.subtitle:before{
  content: "";
  position:absolute;
  left: 0px;
  width:30px;
  height: 2px;
  background: #2b90d9;
}